<!DOCTYPE html>
<html lang="{{request.locale.iso_code}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{canonical_url}}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <title>{{page_title}}</title>
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {{content_for_header}}
</head>
<body>
    {% section 'header' %}
    <div class="main">
        {{content_for_layout}}
    </div>

    {% section 'footer' %}
</body>
</html>