<!DOCTYPE html>
<html lang="{{request.locale.iso_code}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{canonical_url}}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <title>{{page_title}}</title>
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <script src="{{'main.js' | asset_url}}"></script>
    <script src="{{'jquery.min.js' | asset_url}}"></script>
    <script src="{{'slick.min.js' | asset_url}}"></script>

    {{content_for_header}}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'slick-theme.css' | asset_url | stylesheet_tag }}

</head>
<body>
    <div id="container">
        {% section 'header' %}
        <div class="main">
            {%section 'menu'%}
            <div class="inner">
                {{content_for_layout}}
            </div>
        </div>

        {% section 'footer' %}
    </div>
</body>
</html>