    <section class="util_pc section list_slider" id="feature">
        <div class="upper">
            <div class="tlt_main">
                <div class="item_thumbnail">
                    <img class="util_pc" src="assets/img/top/pc/feature.png" alt="">
                    <img class="util_sp" src="assets/img/top/sp/FEATURE.png" alt="">
                </div>
                <span>特集</span>
            </div>
            <div class="feature_index">
                <div class="feature_item">
                    <a href="#">
                        <div class="item_thumbnail">
<!--                             <img src="assets/img/top/pc/banner_feature.png" alt=""> -->
                          {% if block.settings.image != blank %}
                              <img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          {% else %}
                             <img src= " {{ 'banner_feature.png' | asset_url }}">
                          {% endif %} 
                        </div>
                    </a>
                </div>
                <div class="feature_item">
                    <a href="#">
                        <div class="item_thumbnail">
<!--                             <img src="assets/img/top/pc/banner_feature-1.png" alt=""> -->
                          {% if block.settings.image != blank %}
                              <img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          {% else %}
                             <img src= " {{ 'banner_feature-1.png' | asset_url }}">
                          {% endif %} 
                        </div>
                    </a>
                </div>
                <div class="feature_item">
                    <a href="#">
                        <div class="item_thumbnail">
<!--                             <img src="assets/img/top/pc/banner_feature-2.png" alt=""> -->
                          {% if block.settings.image != blank %}
                              <img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          {% else %}
                             <img src= " {{ 'banner_feature-2.png' | asset_url }}">
                          {% endif %} 
                        </div>
                    </a>
                </div>
                <div class="feature_item">
                    <a href="#">
                        <div class="item_thumbnail">
<!--                             <img src="assets/img/top/pc/banner_feature-3.png" alt=""> -->
                          {% if block.settings.image != blank %}
                              <img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          {% else %}
                             <img src= " {{ 'banner_feature-3.png' | asset_url }}">
                          {% endif %}
                        </div>
                    </a>
                </div>
                <div class="feature_item">
                    <a href="#">
                        <div class="item_thumbnail">
<!--                             <img src="assets/img/top/pc/banner_feature-4.png" alt=""> -->
                          {% if block.settings.image != blank %}
                              <img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          {% else %}
                             <img src= " {{ 'banner_feature-4.png' | asset_url }}">
                          {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="bg_feature"></div>
    </section>
    <section class="util_sp section feature_list">
        <div class="upper">
            <div class="tlt_main">
                <div class="item_thumbnail">
<!--                     <img class="util_pc" src="assets/img/top/pc/feature.png" alt=""> -->
                   {% if block.settings.image != blank %}
                              <img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          {% else %}
                             <img src= " {{ 'feature.png.png' | asset_url }}">
                          {% endif %}
                    <img class="util_sp" src="assets/img/top/sp/FEATURE.png" alt="">
                </div>
                <span>特集</span>
            </div>
            <div class="feature_index">
                <div class="container_feature">
                    <div class="feature_item">
                        <a href="#">
                            <div class="item_thumbnail">
                                <img src="assets/img/top/pc/banner_feature.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="feature_item">
                        <a href="#">
                            <div class="item_thumbnail">
                                <img src="assets/img/top/pc/banner_feature-1.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="feature_item">
                        <a href="#">
                            <div class="item_thumbnail">
                                <img src="assets/img/top/pc/banner_feature-2.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="feature_item">
                        <a href="#">
                            <div class="item_thumbnail">
                                <img src="assets/img/top/pc/banner_feature-3.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="feature_item">
                        <a href="#">
                            <div class="item_thumbnail">
                                <img src="assets/img/top/pc/banner_feature-4.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg_feature"></div>
    </section>

{% schema %}
{
  "name": "feature",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "feature",
      "label": "Heading"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "collection feature"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "products to show"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "show view all"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "swip on mobile"
    },
    {
      "type": "header",
      "content": "content-header"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portraint"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Imgae ratio"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "show second image in hover"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "add image padding"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "show image outline"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "show vendor"
    }
  ],
  "blocks": [
        {
            "type": "text",
            "name": "text-feature",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "default": "text block",
                    "label": "text"
                }
            ]
        },
        {
            "type": "title",
            "name": "title-feature",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				}
			]
        },
 		{
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ],
  "presets": [
    {
      "name": "presets"
    }
  ]
}
{% endschema %}