<header id="header">
    <div class="inner">
        <div class="upper">
            <div class="link">
                <ul class="nav_mobile util_sp">
                    <li>
                        <a href="#" id="btn_sp">
                            <span class="icon_nav_sp"></span>
                            <span class="icon_nav_sp"></span>
                            <span class="icon_nav_sp"></span>
                        </a>
                    </li>
                </ul>
                <ul class="search-card">
                    <li class="util_pc">
                        <a class="nav_item_top" href="#">お知らせ</a>
                      	<a class="nav_item_top" href="#">{{ block.settings.heading | escape }}</a>
                    </li>
                    <li class="util_pc">
                        <a class="nav_item_top" href="#">お気に入り</a>
                      	<a class="nav_item_top" href="#">{{block.settings.heading | escape }}</a>
                    </li>
                    <li>
                        <div class="util_pc search_box">
                            <form class="form-search" action="">
                                <p></p>
                                <input type="text" class="search_box_input" placeholder="キーワードを入力">

                                <button type="submit" class="search_box_button">
                                    {%assign ImageURL = section.settings.image %}
                                    <img class="util_pc" src=" {{ ImageURL | img_url: 'master'}}">
<!--                               	{% if block.settings.image != blank %}
                                  	{%for block in section.blocks %}
                                    	<img class="util_pc" src=" {{ block.settings.image | img_url: 'master'}}">
                                  	{%endfor%}
                              	{% else %}
                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                                {% endif %} -->
                            </button>
                            </form>
                        </div>
                        <div class="util_sp search_box">
                            <div class="search_box_button_sp">
                                <a href="javascript:;" id="search_box_button_sp">
                                    <img class="util_sp" src="assets/img/top/sp/sp_header_Icon_search.png" alt="">
                                    {% if block.settings.icon != blank %}
                                        <img class="util_pc" srcset="{{ block.settings.icon | img_url }}" src=" {{ block.settings.icon | img_url: width: 50 | image_tag }}" alt="{{ block.settings.icon.alt | escape }}">
                                    {% else %}
                                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="util_pc">
                        <a href="advanced_search.html" id="advanced_search">
                            <div class="advanced_search">
                                <img class="util_pc" src="{{ 'icon_urtra_serch.png' | asset_url }}" alt="詳しく検索">
<!--                                  {% if block.settings.icon != blank %}
                                    <img class="util_pc" srcset="{{ block.settings.icon | img_url }}" src=" {{ block.settings.icon | img_url: width: 50 | image_tag }}" alt="詳しく検索">
                                {% else %}
                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                                {% endif %} -->
                                <img class="util_sp" src="assets/img/top/sp/sp_icon_detailserch.png" alt="詳しく検索">
                                <span>ウルトラ検索</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="cart">
                            <a href="#">
                                <img class="util_pc" src="{{ 'header_icon_cart.png' | asset_url }}" alt="">
<!--                                 {% if block.settings.icon != blank %}
                                    <img class="util_pc" srcset="{{ block.settings.icon | image_url }}" src=" {{ block.settings.icon | image_url: width: 50 | image_tag }}" alt="{{ block.settings.icon.alt | escape }}">
                                {% else %}
                                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                                {% endif %} -->
                                <img class="util_sp" src="assets/img/top/sp/sp_icon_cart_bk.png" alt="">
                                <span>15</span>
                            </a>
                        </div>
                    </li>
                    <li class="util_pc">
                        <div class="login">
                            <a href="#">ログイン</a>
                        </div>
                    </li>
                </ul>
                <div class="logo util_sp">
                    <a href="#">
                        <img src="assets/img/top/sp/XXXXLOGO.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

{% schema %}
{
    "name": "Header",
    "settings": [
  	  {
        "type": "header",
        "content": "Special settings"
      },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
    ]
  }
{% endschema %}
