<section class="section new_rerease" id="new_rerease">
    <div class="upper">
        <div class="tlt_main">
            <div class="item_thumbnail">
<!--                 <img class="util_pc" src="assets/img/top/pc/new_rerease.png" alt=""> -->
              {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'new_rerease.png' | asset_url }}">
                          		{% endif %} 
                <img class="util_sp" src="assets/img/top/sp/NEW_REREASE.png" alt="">
            </div>
            <span>新譜</span>
        </div>
        <ul class="holizontal_list col_05">
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/1.jpg" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ '1.jpg' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/1.jpg" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="c-item" href="#">
                    <div class="item_thumbnail">
<!--                         <img class="util_pc" src="assets/img/top/pc/img_01.png" alt=""> -->
                      {% if block.settings.image != blank %}
                              		<img class="util_pc" src=" {{ 'block.settings.image' | image_url: 'master' }} " alt="">
                          		{% else %}
                             		<img src= " {{ 'img_01.png' | asset_url }}">
                          		{% endif %} 
                        <img class="util_sp" src="assets/img/top/pc/img_01.png" alt="">
                    </div>
                    <div class="c-item__body">
                        <div class="c_category"><span>CD</span></div>
                        <h3 class="c-item__title">Text Text Text Text Text Text Text Text Text Text</h3>
                        <div class="c-item__author">ARTIST NAME</div>
                        <div class="c-item__price">2,000円（税抜）</div>
                        <div class="c-item__date">2020/01/22 発売</div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="load-more load1">
            <div class="wrap_loader">
                <div class="loader"></div>
                <div class="loading hidden"></div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "new-rerease",
    "tag": "section",
	"settings": [
        {
          "type": "text",
          "id": "title",
          "default": "new-rerease",
          "label": "Heading"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "collection rerease"
        },
        {
          "type": "range",
          "id": "products_to_show",
          "min": 2,
          "max": 12,
          "step": 2,
          "default": 4,
          "label": "products to show"
        },
        {
          "type": "checkbox",
          "id": "show_view_all",
          "default": true,
          "label": "show view all"
        },
        {
          "type": "checkbox",
          "id": "swipe_on_mobile",
          "default": false,
          "label": "swip on mobile"
        },
        {
          "type": "header",
          "content": "content-header"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "Adapt to image"
            },
            {
              "value": "portrait",
              "label": "Portraint"
            },
            {
              "value": "square",
              "label": "Square"
            }
          ],
          "default": "adapt",
          "label": "Imgae ratio"
        },
        {
          "type": "checkbox",
          "id": "show_secondary_image",
          "default": false,
          "label": "show second image in hover"
        },
        {
          "type": "checkbox",
          "id": "add_image_padding",
          "default": false,
          "label": "add image padding"
        },
        {
          "type": "checkbox",
          "id": "show_image_outline",
          "default": true,
          "label": "show image outline"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "default": false,
          "label": "show vendor"
        }
  	],
    "blocks": [
        {
            "type": "text",
            "name": "text-rerease",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "default": "text block",
                    "label": "text"
                }
            ]
        },
        {
            "type": "title",
            "name": "title-rerease",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				}
			]
        },
 		{
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ]
}
{% endschema %}